<div class="content-section" id="word-freq-section">
    <div class="section-header">
        <h4>词频统计</h4>
    </div>
    <div class="section-body">
        <div id="wordFreq" class="result-card show">
            <h5 class="mb-3">词频标签</h5>
            <div id="wordFreqTags" class="mt-3 mb-4"></div>

            <h5 class="mb-3">词频图表</h5>
            <div id="wordFreqCharts" class="charts-horizontal-layout">
                <div class="chart-wrapper">
                    <div id="wordFreqBarChart" class="chart"></div>
                </div>
                <div class="chart-wrapper">
                    <div id="wordCloudChart" class="chart"></div>
                </div>
            </div>
        </div>
    </div>
</div>
